# Hydra folder
crawl_data/outputs/
model/outputs/
gui_vllm/outputs/

# Wandb folder
model_baseline/wandb/
model/wandb/


# Only use data preprocessed and hide raw data
dataset/news_crawled_data/
dataset/news_vietgpt_data/
dataset/vlsp_data/
dataset/wikilingual_vietnamese_data/

# Byte-compiled / optimized / DLL files
__pycache__/
crawl_data/__pycache__/
model/__pycache__/
gui_vllm/__pycache__/
model_baseline/__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg