# Hydra folder
crawl_data/outputs/
model/outputs/
gui_vllm/outputs/

# Wandb folder
model_baseline/wandb/
model/wandb/


# Only use data preprocessed and hide raw data
dataset/news_crawled_data/
dataset/news_vietgpt_data/
dataset/vlsp_data/
dataset/wikilingual_vietnamese_data/
dataset/ViMs/
dataset/xlsum_data/
dataset/vietnews/
dataset/full_train_data_summarization.csv
dataset/full_train_data_title_summarization.csv
dataset/full_test_data_summarization.csv

# Qdrant folder
question_answer_rag/qdrant/

# Byte-compiled / optimized / DLL files
__pycache__/
crawl_data/__pycache__/
model/__pycache__/
gui_vllm/__pycache__/
model_baseline/__pycache__/
*.py[cod]

# Ipynb checkpoint
model_baseline/.ipynb_checkpoints/
model/.ipynb_checkpoints/

# Checkpoint model
model_baseline/VietAI_vit5_base_model_summarization/
model/model_checkpoint/
model/peft_model/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
