flash-attn
xformers
transformers==4.41.2
sentencepiece
sentence-transformers
peft
hydra-core
pandas
numpy
trl==0.8.6
bitsandbytes
rouge-score
evaluate
deepspeed
mpi4py
gradio
py3nvml
glances
wandb
tqdm
huggingface_hub
langchain
