flash-attn
xformers
transformers==4.41.2
sentencepiece==0.2.0
sentence-transformers==3.0.1
peft==0.11.1
hydra-core
pandas
numpy
trl==0.9.4
bitsandbytes==0.43.1
rouge-score
evaluate
deepspeed==0.14.4
mpi4py==3.1.6
gradio
py3nvml
glances
wandb==0.17.2
tqdm
huggingface_hub
langchain
